<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="html(title, link, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">

  <th:block th:replace="${link}"></th:block>
</head>
<body>
    <!-- Sidebar -->
    <aside>
        <div class="sidebar">
            <div>
                <div class="brand">
                    <img th:src="@{/images/logo/logo.jpg}" alt="logo">
                    <span>Kapehan</span>
                </div>
                <div class="menu">
                    <ul>
                        <li th:replace="~{components/menu_item :: menuItem('/', 'Home', 'home', ${activeMenu})}"></li>
                        <li th:replace="~{components/menu_item :: menuItem('/catalog', 'Catalog', 'catalog', ${activeMenu})}"></li>
                        <li th:replace="~{components/menu_item :: menuItem('/add', 'Add Coffee', 'add', ${activeMenu})}"></li>
                        <li th:replace="~{components/menu_item :: menuItem('/login', 'Log Out', 'logout', ${activeMenu})}"></li>
                    </ul>
                </div>
            </div>
            <div class="footer-text">
                <p>&copy; 2025 Kapehan. All rights reserved.</p>
            </div>
        </div>
    </aside>
    <!-- Main Content Area -->
    <main>
      <!-- This is where the content of other pages will be injected -->
      <div th:replace="${content}"></div>
    </main>
    <script>
        window.addEventListener('load', function () {

            document.querySelectorAll('.menu li').forEach(menu => {
                menu.addEventListener('click', () => {
                    const url = menu.getAttribute('data-url');
                    location.href = url; //this will redirect to the url
                });
            });

        });

        document.getElementById('coffeePicture').addEventListener('change', function() {
            const fileNameSpan = document.getElementById('file-name');
            if (this.files.length > 0) {
                fileNameSpan.textContent = this.files[0].name;
            } else {
                fileNameSpan.textContent = 'No file chosen';
            }
        });
    </script>




</body>
</html>