:root {
    --font-family: Arial, sans-serif;
    --bg-color: whitesmoke;
    --text-color: #3F4F44;
    --accent-color: #DCD7C9;
    --button-bg: #3F4F44;
    --button-hover-bg: #2C3930;
    --shadow-color: #2C3930;
    --border-color: #ccc;
}

/* General body styles */
body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
}

/* Heading styles */
h1 {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Form container */
form {
    background-color: var(--accent-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

/* Labels */
form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
}

/* Input and Select Fields */
form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

/* Error input styles */
input[type="text"].error, input[type="number"].error,
input[type="checkbox"].error,
select.error {
    border-color: red;
    background-color: #ffe6e6;
    text-align: left;
}

/* Flavor notes checkboxes */
#flavorNotes-area div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
}

#flavorNotes-area label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
}

/* Decaf option */
#decaf-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#decaf-area input[type="checkbox"] {
    margin-right: 5px;
}

/* Error messages */
.error {
    color: red;
    font-size: small;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Buttons */
form button {
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 47%;
}

form button:hover {
    background-color: var(--button-hover-bg);
}

/* Back link */
#back-link-area {
    margin-top: 10px;
    text-align: center;
}

#back-link-area a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    background-color: var(--button-bg);
    border-radius: 5px;
    cursor: pointer;
    width: 94%;
}

#back-link-area a:hover {
    background-color: var(--button-hover-bg);
}
