:root {
    --font-family: "Arial", sans-serif;
    --bg-color: #f9f9f9;
    --text-color: #3F4F44;
    --accent-color: rgba(220, 215, 201, 0.6);
    --button-bg: #A27B5C;
    --button-hover-bg: #8a6346;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #ccc;
    --danger-bg: #b81404;
    --danger-hover-bg: #7c0e04;
    --action-bg: #3F4F44;
    --action-hover-bg: #2C3930;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
}

.sidebar li.active {
    font-weight: bold;
    background-color: var(--action-hover-bg); /* Dark background */
}

/* Main content area */
.main-content {
    padding: 0 5vw;
    width: 100%;
    margin: 0 auto;
}


.table-container {
    background-color: var(--accent-color);
    box-shadow: 0 0 12px var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    flex: 1;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

form button {
    padding: 10px 16px;
    background-color: var(--button-bg);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--button-hover-bg);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 800px;
}

table th, table td {
    padding: 12px;
    border: 1px solid var(--text-color);
    text-align: center;
    vertical-align: middle;
}

table th {
    background-color: var(--button-bg);
    color: white;
    font-weight: bold;
}

.action-links a {
    color: white;
    text-decoration: none;
    margin: 4px 0;
    padding: 6px 10px;
    font-size: 14px;
    display: inline-block;
    border-radius: 8px;
    width: 60px;
}

.edit-btn {
    background-color: var(--action-bg);
}

.edit-btn:hover {
    background-color: var(--action-hover-bg);
}

.delete-btn {
    background-color: var(--danger-bg);
}

.delete-btn:hover {
    background-color: var(--danger-hover-bg);
}

.view-btn {
    width: 50px;
    background-color: darkcyan;
}

.view-btn:hover {
    background-color: #016868;
}

@media (max-width: 900px) {
    table {
        font-size: 14px;
    }

    .action-links a {
        font-size: 12px;
    }
}
