<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width", initial-scale="1">
    <title>Coffee List</title>
    <link rel="stylesheet" th:href="@{/css/styleIndex.css}">
    <style>
        table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Available Coffees</h1>

<!-- Search Form -->
<form>
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<!-- Coffee Table -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Coffee Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Roast Level</th>
        <th>Origin</th>
        <th>Decaffeinated</th>
        <th>Stock</th>
        <th>Flavor Notes</th>
        <th>Brew Method</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through coffee list and display each coffee's attributes -->
    <tr th:each="coffee, stat : ${coffeeList}">
        <td>[[${stat.count}]]</td>
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.type}"></td>
        <td th:text="${coffee.size}"></td>
        <td th:text="'Php ' + ${coffee.price}"></td>
        <td th:text="${coffee.roastLevel}"></td>
        <td th:text="${coffee.origin}"></td>
        <td th:text="${coffee.isDecaf} ? 'Yes' : 'No'"></td>
        <td th:text="${coffee.stock}"></td>
        <td th:text="${#strings.replace(#strings.replace(coffee?.flavorNotes, '[', ''), ']', '')}"></td>
        <td th:text="${coffee.brewMethod}"></td>
        <td class="action-links">
            <a th:href="@{/edit(id=${coffee.id})}">Edit</a>
            <a th:href="@{/delete(id=${coffee.id})}" onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Link to Add New Coffee -->
<a href="/add">Add New Coffee</a>
</body>
</html>
